.chatWindow {
  margin: 2rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
  background-color: rgb(233, 210, 180);
  border-radius: 20px;
}
.label{
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 180%;
  color: blue;
  margin-bottom: 3rem;
  border-bottom: 5px solid rgb(95, 95, 223);
}
.h3{
  text-align: center;
  font-size: 90%;
  font-style: italic;
  color: red;
}
.icon{
  color: black;
}