.libot {
  /* border: 2px solid rgb(15, 1, 1); */
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 25px;
  padding-left: 10%;
}
.liUser {
  /* border: 2px solid rgb(15, 1, 1); */
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 25px;
  padding-left: 75%;
}
.label {
  padding-left: 1%;
  color: green;
}
.date {
  padding-left: 1%;
  color: rgb(182, 22, 57);
  font-size: 60%;
  font-style: italic;
}

.fromId {
  font-size: 60%;
  font-style: italic;
  color: blue;
}

.faIconSize{
  font-size: 100%;
  color: brown;
}